.br {border: 2px solid red;}
.bb {border: 2px solid blue;}
.bm {border: 2px solid magenta;}
.bg {border: 2px solid gold;}
.bk {border: 2px solid green;}

.h-50px {
    height: 50px;
}
.h-100px {
    height: 100px;
}
.h-700px {
    height: 700px;
}
.h-500px {
    height: 500px;
}
.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 1111111;
}
.first-icon-con i {
    font-size: 20px;
}
.navbar ul li a {
    font-weight: bold;
}
.navbar ul li a:hover {
    color: #673ab7 !important;
}
.bt {
    padding: 15px 35px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #00c16e;
}
.bt2 {
    padding: 15px 35px;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #683ab76c;
}
.first-button-con button:nth-child(2) {
    transition: .3s ease-in-out;

}
.first-button-con button:nth-child(2):hover {
    background-color: white;
    color: black;
    transition: .3s ease-in-out;
}
.first-main-sec::before {
    content: '';
    width: 100%;height: 100%;background-color: #683ab7c3;
    position: absolute;top: 0;left: 0;
}
.first-main-sec {
    background-image: url(laptop\ desk.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.first-sec-data {
    min-height: 100vh;
    color: white;
}
.first-sec-text-matter {
    width: 800px;
    z-index: 1111;
}
.first-sec-text-matter h1 {
    font-size: 90px;
    width: 80%;
    font-weight: bold;
}
.first-sec-text-matter span {
    font-size: 20px;
}
.first-sec-text-matter p {
    width: 80%;
}

.second-data-sec {
    height: auto;

}
.second-left-sec img {
    /* height: 100%; */
    width: 75%;
    object-fit: cover;
}


.third-main-sec {
    min-height: auto;
}
.third-main-sec h1 {
    width: 50%;
    text-align: center;
}
.third-card-con {
    min-height: auto;
}

.card-item {
    width: 90%;
    height: 300px;
    background-color: white;
    height: 300px;
}
.card-item h3 {
    transition: .3s ease-in-out;

}
.card-item h3:hover {
    color: #673ab7;
    transition: .3s ease-in-out;

}
.fourth-data-sec {
    min-height: auto;
}
.fourth-left-sec {
    min-height: auto;
}
/* .fourth-right-sec {
    min-height: 100vh;
} */
.fourth-right-sec img {
    width: 90%;
    height: 90%;
}

.fourth-card {
    height: 150px;
}
.fourth-item-card {
    /* width: 100%; */
    height: 150px;
}

.fifth-main-sec::before {
    content: '';
    width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.68);
    position: absolute;top: 0;left: 0;
}
.fifth-main-sec {
    /* height: 300px; */
    background-image: url(space.avif);
    background-size: cover;
    background-position: center;
    position: relative;

}

.fifth-card {
    height: 200px;
    z-index: 111111;
}
.fifth-item-card {
    width: 90%;
    height: 100%;
}
.fifth-item-card h1 {
    font-size: 45px;
    font-weight: bold;
}

.sixth-main-sec {
    height: auto;
}
.sixth-data-sec {
    /* min-height: 400px; */
    width: 70% !important;
}
.sixth-left-sec {
    min-height: 400px;
}
.sixth-right-sec {
    min-height: 400px;
}
.sixth-left-sec img {
    height: 250px;
    border-radius: 50%;
}
.sixth-right-sec p {
    width: 95%;
}
.text-sec {
    height: 100px;
}
.seventh-main-sec {
    min-height: auto;
}
.seventh-card-con {
    min-height: 600px;
}
.seventh-card {
    height: 500px;
}
.seventh-item-card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.seventh-item-card h5 {
    transition: .3s ease-in-out;
}
.seventh-item-card h5:hover {
    color: #673ab7;
    transition: .3s ease-in-out;

}
.card-img1 {
    height: 270px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.card-img1 img {
    width: 100%;
    height: 100%;
}
.card-img1 img:hover {
    transform: scale(1.1);
    transition: .3s all linear;
}
.small-sec {
    position: absolute;
    bottom: 0;
    right: 0;
}


.small-sec {
    width: 130px;
    height: 50px;
    background-color: #00c16e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-div {
    height: 80px;
    border-top: 2px solid rgba(0, 0, 0, 0.03);
}
.eight-main-sec {
    min-height: auto;
}
.eight-data-sec {
    min-height: auto;
}
/* .eight-left-sec {
    min-height: 200px;
} */
.eight-right-sec {
    min-height: 150px;
}
.eight-right-sec button {
    padding: 15px 35px;
    background-color: #8b56e6;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    transition: .3s ease-in-out;

}
.eight-right-sec button:hover {
    background-color: white;
    color: black;
    transition: .3s ease-in-out;
}
.footer-sec {
    height: auto;
}
.footer-con {
    height: auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.146);
}
.footer-card {
    height: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.footer-item-card {
    width: 90%;
    height: 100%;
}
.footer-item-card li {
    list-style: none;
}
.footer-item-card li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.582);
}
.email-con {
    min-height: 50px;
}
.left-div {
    min-height: 50px;
}
.left-div input {
    width: 100%;
    border: none;
    outline: none;
}
